<div id="<%= dom_id room %>" style="display: flex; align-items: center; gap: 10px;">
  <strong>Name:</strong>
  <%= room.name %>
  <%#= button_to "Show", room, method: :get, class: "btn btn-primary btn-sm" %>
</div>
