<p style="color: green"><%= notice %></p>

<% content_for :title, "Rooms" %>

<h1>Rooms</h1>

<div id="rooms">
  <% @rooms.each do |room| %>
    <div style="display: flex; align-items: center; gap: 10px; margin-bottom: 10px;">
      <%= render room %>
      <%= button_to "Show", room, class: "btn btn-success", method: :get %>
    </div>
  <% end %>
</div>

<%= button_to "New room", new_room_path, method: :get, class: "btn btn-primary" %>
